//VARIABLES
$primary-color: #097cde;
$secondary-color: #808080;
$text-color: #333;
$light-gray: #999;
$main-background: #fff;
$img-dir: "css/images/";
$body-text-size: 0.75em;

//MIXINS
@mixin rounded-border($radius: 3px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin text-shadow($color, $x: 1px, $y: 1px, $blur: 0) {
	text-shadow: $x $y $blur $color;
}