@charset "utf-8";
@import "base";
@import "fonts";
@import "normalize.scss";

/* BASIC STYLES
----------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	text-decoration: none;
	list-style-type: none;
}
html,
body,{
	height: 100%;
}
h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
}
a {
	text-decoration: none;

 &:hover {
 		text-decoration: underline;
	}
}

p {
	line-height: 1.5em;
}
img {
	max-width: 100%;
}
.clearfloat:after {
	display: block;
	content: "";
	clear: both;
	visibility: hidden;
	height: 0;
}
.float-left {
	float: left;
	width: 50%;
}
.float-right {
	float: right;
	width: 50%;
}
.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

#main {}
.content {}
.sidebar {}

/* =Header
----------------------------------------------------------------------------------------*/

/* =Navigation
----------------------------------------------------------------------------------------*/
nav {

	ul {
		padding: 0;

		li {

			display: inline-block;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			a {
				&:hover {
				}
			}
		}
	}
}

/* =Footer
----------------------------------------------------------------------------------------*/

/* =Contacto
----------------------------------------------------------------------------------------*/
#contacto {

	form {
		background: #f8f8f8;
		padding: 2%;

		label {
			display: block;
			margin: 1% 0;

			& > span {
				display: inline-block;
				width: 10%;
				text-align: right;
				margin-right: 1%;
			}
		}
	}
}

/* =Error 404 Page
----------------------------------------------------------------------------------------*/
#error404 {
	background: url("css/images/alert_bg.png") bottom right no-repeat;

	h1 {
		font-size: 7.8125em;
		color: #c3c3c3;
	}

	p {
		color: #a4a4a4;
	}

	.go-home {

		&:hover {
			text-decoration: underline;
		}

		span {
			font-size: 1.1666666666666666666666666666667em;
		}

	}
}

/* =Messages
----------------------------------------------------------------------------------------*/
.info {
	background: #5d5d5d;
	padding: 1%;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.success {
	background: #5db41c;
}
